# Load dataset

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import pandas as pd

# read csv file into a pandas dataframe and keep NA values
df = pd.read_csv('/content/tch-prep-amp.csv',keep_default_na=False)
labels= pd.read_csv('/content/labels.csv',keep_default_na=False)
print(df)

print(labels)

       Unnamed: 0                                          amplitude  \
0               0  [46.69047011971501, 2.0, 0.0, 0.0, 0.0, 0.0, 2...
1               1  [46.69047011971501, 2.0, 0.0, 0.0, 0.0, 0.0, 2...
2               2  [133.8992158304148, 8.0, 0.0, 0.0, 0.0, 0.0, 2...
3               3  [43.86342439892262, 1.0, 0.0, 0.0, 0.0, 0.0, 3...
4               4  [133.8992158304148, 8.0, 0.0, 0.0, 0.0, 0.0, 3...
...           ...                                                ...
22005       22005  [146.0, 6.0, 0.0, 0.0, 0.0, 0.0, 29.1204395571...
22006       22006  [146.0, 6.0, 0.0, 0.0, 0.0, 0.0, 22.4722050542...
22007       22007  [146.0, 6.0, 0.0, 0.0, 0.0, 0.0, 17.2046505340...
22008       22008  [146.0, 6.0, 0.0, 0.0, 0.0, 0.0, 21.9317121994...
22009       22009  [146.0, 6.0, 0.0, 0.0, 0.0, 0.0, 21.0950231097...

                                                   phase
0      [0.8156919233162234, 1.5707963267948966, 0.0, ...
1      [0.8156919233162234, 1.5707963267948966, 0.0, ...
2      [-1.2041586859547824, 1.5707963267948966, 0.0,...
3      [2.388441372627599, 1.5707963267948966, 0.0, 0...
4      [-1.2041586859547824, 1.5707963267948966, 0.0,...
...                                                  ...
22005  [0.8532549862537522, 1.5707963267948966, 0.0, ...
22006  [0.8532549862537522, 1.5707963267948966, 0.0, ...
22007  [0.8532549862537522, 1.5707963267948966, 0.0, ...
22008  [0.8532549862537522, 1.5707963267948966, 0.0, ...
22009  [0.8532549862537522, 1.5707963267948966, 0.0, ...

[22010 rows x 3 columns]
      Labels
0         NA
1         NA
2         NA
3         NA
4         LA
...      ...
22005     NA
22006     NA
22007     NA
22008     NA
22009     NA

[22010 rows x 1 columns]

# Spit list into columns

In [31]:
df['amplitude'] = df['amplitude'].apply(lambda x: x.strip('[]').split(','))
df = df.join(df['amplitude'].apply(pd.Series).astype(float))
df = df.drop(columns=['amplitude','phase'])
df.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,54,55,56,57,58,59,60,61,62,63
0,0,46.690470,2.0,0.0,0.0,0.0,0.0,24.596748,25.553865,23.706539,...,17.000000,14.142136,17.117243,13.038405,12.165525,0.0,0.0,0.0,0.0,0.0
1,1,46.690470,2.0,0.0,0.0,0.0,0.0,28.635642,27.856777,30.463092,...,18.027756,16.124515,17.888544,15.652476,14.317821,0.0,0.0,0.0,0.0,0.0
2,2,133.899216,8.0,0.0,0.0,0.0,0.0,25.079872,24.738634,27.202941,...,15.620499,14.422205,15.000000,11.180340,11.661904,0.0,0.0,0.0,0.0,0.0
3,3,43.863424,1.0,0.0,0.0,0.0,0.0,31.000000,33.136083,35.227830,...,11.180340,11.313708,11.401754,11.180340,12.083046,0.0,0.0,0.0,0.0,0.0
4,4,133.899216,8.0,0.0,0.0,0.0,0.0,30.066593,31.016125,30.265492,...,11.401754,10.630146,11.661904,10.295630,9.433981,0.0,0.0,0.0,0.0,0.0
5,5,164.878743,8.0,0.0,0.0,0.0,0.0,83.360662,75.690158,85.000000,...,44.553339,44.821870,44.553339,36.674242,35.510562,0.0,0.0,0.0,0.0,0.0
6,6,23.345235,14.0,0.0,0.0,0.0,0.0,26.476405,27.459060,26.076810,...,13.892444,12.806248,12.206556,12.041595,12.041595,0.0,0.0,0.0,0.0,0.0
7,7,88.141931,2.0,0.0,0.0,0.0,0.0,28.160256,28.635642,29.832868,...,10.630146,9.848858,8.944272,7.615773,6.082763,0.0,0.0,0.0,0.0,0.0
8,8,126.253713,4.0,0.0,0.0,0.0,0.0,72.069411,75.179785,80.262071,...,58.189346,54.230987,50.635956,42.154478,46.615448,0.0,0.0,0.0,0.0,0.0
9,9,88.141931,2.0,0.0,0.0,0.0,0.0,24.698178,25.942244,26.832816,...,12.649111,11.180340,10.770330,8.544004,7.280110,0.0,0.0,0.0,0.0,0.0

# Split dataset

In [32]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,1:]
y = pd.DataFrame(labels)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Encode label

In [33]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

# 0:JJ, 1:LA, 2:LL, 3:NA, 4:RA, 5:RL, 6:SO

print(y_train)

print(y_test)

[3 0 3 ... 0 0 3]
[1 6 3 ... 3 4 3]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

# Model Random Forest

In [43]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators = 20, criterion = 'entropy', random_state = 42, min_samples_split=10)
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', min_samples_split=10,
                       n_estimators=20, random_state=42)

## Predict

In [44]:
from sklearn.metrics import classification_report
rf_pred = rf_classifier.predict(X_test)
target_names = rf_classifier.classes_

In [38]:
decoded_labels = le.inverse_transform(y_test)
print(decoded_labels)

['LA' 'SO' 'NA' ... 'NA' 'RA' 'NA']

In [45]:
report = classification_report(y_test, rf_pred, target_names=['JJ', 'LA', 'LL', 'NA', 'RA', 'RL', 'SO'])
print(report)

              precision    recall  f1-score   support

          JJ       0.36      0.06      0.11       431
          LA       0.50      0.02      0.04       347
          LL       0.27      0.01      0.02       331
          NA       0.51      0.97      0.67      2192
          RA       0.21      0.01      0.02       333
          RL       0.47      0.03      0.05       335
          SO       0.48      0.07      0.12       433

    accuracy                           0.50      4402
   macro avg       0.40      0.17      0.15      4402
weighted avg       0.45      0.50      0.37      4402